
!*/migrations/__init__.pyvenv_local/
# Django
# Environment
# IDE
# Keep __init__.py, ignore the rest
# Migrations
# OS
# Python
*.egg
*.egg-info/
*.py[cod]
*.sqlite3
*.swo
*.swp
*/migrations/*.py
.DS_Store
.eggs/
.env
.idea/
.venv/
.vscode/
Thumbs.db
__pycache__/
build/
dist/
env/
media/
staticfiles/
venv/
venv_local/
